body {
    font-family: Inter,sans-serif;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,.05);
    position: sticky;
    padding: 10px 0;
    top: 0;
    z-index: 100;
} 

.navcontent{
    padding-top: 15px;
}
.content{
    color: black;
    padding: 10px 15px;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.content:hover{
    color: #7743D9;
}

.btn{
    margin-top: 10px;
}
#btn{
    background-color: #7744d9;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 12px 25px;
    text-align: center; 
    transition: 1.5s ease;
}

#btn:hover{
    background-color: #DF51DC;
}
/* first sextion style */

.first-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    margin: 0;
}
/*  text styles */
.text{
    padding: 0;
    margin: 0;
}
.mod{
    font-size: 20px;
    font-weight: 400;
}
.get{
    font-size: 40px;
    /* padding: 0px; */
    margin: 0px;
}
.data{
    margin: 1px;
    font-size: 40px;
    font-weight: 500;
}
/* img decoration */
.img-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-img{
    height: 300px;
    padding: 0 30px;
}
.data-img1{
    height: 100px;
}
.data-img2{
    height: 100px;
}


.first-section img{
    animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);

    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

/* pentesting product style */
.products{
    text-align: center;
}
.pen{
    text-align: center;
    color: #7743D9;
    font-size: 15px;
    text-transform: capitalize;
    margin: 0;
}
.weprovide{
    text-transform: capitalize;
    margin: 0px;
    padding-top: 2px;
}
.para{
    opacity: .5;
    font-size: 14px;
    padding: 5px 200px;
    gap: 2px;
}

.block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    position: relative;
}
.block1{
    height: 280px;
    width: 330px;
    box-shadow: 0 8px 24px hsla(210,8%,62%,.2);
    margin: 0 23px;
    text-align: center;
    border-radius: 5px;   
    animation-name: move;
    position: relative;
}
.b1{
    opacity: .5;
    font-size: 14px;
    padding: 0 30px;
    align-items: end;
}


.log i{
    display: flex;
    background-color: #7743D9;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    margin-top: 60px;
    font-size: 23px;
}
#icon2{
    background-color: rgb(235, 107, 61);

}
#icon3{
    background-color: rgb(194, 22, 219);
}
.block1:hover .log i{
    background-color: #fff !important;
    color: #7743D9; 
}
.block1:hover  p{
    color: #fff; 
}
.block1:hover  h3{
    color: #fff; 
}
.block1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #7744d9;
    border-radius: 5px;

    transition: .5s;
    z-index: -1;
}
.block1:hover::after{
    height: 100%; 
}

/* third page  */
.third{
    background-color: #eff2f7;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    overflow: hidden;
    padding: 60px;
}

.third img{
    max-width: 100%;
    height: auto;
    margin: 30px;
    padding-right: 60px;
}
.cloud{
    height: 60vh;
    width: 85vh; 
    padding-left: 40px;
    flex-wrap: wrap;
    margin: 0;
}
.cloud h6{
    color:#7743D9;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}
.cloud h1{
    margin: 3px;
    font-size: 36px;
}
.cloud p{
    opacity: .7;
    padding-top: 20px;
}
.elements{
    display: flex;
    flex-wrap: wrap ;
    gap: 20px;
    flex-direction: row;
}
.em{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10px;
    width: 100px;
    margin: 0%;
    float: left;
}
.em-bar{
    background: #aec6ef;
    border-radius: 30px;
    height: 5px;
    position: relative;
    width: 90px;
    animation-name: move;
}

.circle{
    background-color: #7744d9;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    animation-name: move;
    animation: move 7s  infinite;
}

@keyframes move{
    0%{
        transform: translatex(0);

    }
    50%{
        transform: translatex(82px);
    }
    100%{
        transform: translatex(0);
    }
}
.elem{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.08);
    margin-bottom: -5px;
    margin-top: 15px;
    padding: 10px 15px 10px 73px;
    position: relative;
    transition: .7s;
    width: 25%;
    z-index: 1;
}

.elem .icon{
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #7744d9;
    height: 100%;
    width: 55px;
    font-size: 23px; ;   
    color: #fff;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;

}
.elem h2{   
    font-size: 16px;
    font-weight: 500;

}
.elem:hover  h2{
    color: #fff;
}
.elem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #7744d9;
    border-radius: 5px;
    transition: .5s;
    z-index: -1;
}
.elem:hover::after{
    width: 100%; 
}
/* fourth page style */
.fourth{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    overflow: hidden;
    padding: 60px;
}
.fourth img{
    max-width: 100%;
    height: auto;
    margin: 30px;
    padding-left: 60px;
}

/* fifth page */
.fifth{
    background-color: #eff2f7;
    padding: 100px;
}
.emmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h6{
    color:#7743D9;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}
.text h1{
    margin: 3px 0;
    font-size: 36px;
}
.text p{
    opacity: .6;
    padding-top: 20px;
}
.box{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 0 100px;
}
.container{
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 35px 20px;
    position: relative;
}
.con {
    font-size: 14px;
    opacity: .6;
    padding: 0 20px;
    margin: 0 ;
    text-align: center;
}
.features-icon {
    background-color: #fff;
    border: 1px solid #7744d9;
    height: 100%;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%px;
}
.features-icon i {
    background-color: #7744d9;
    color: #fff;
    font-size: 23px;
    height: 65px;
    line-height: 63px;
    text-align: center;
    width: 65px;
}
/* fifth page */
.sixth{
    padding: 100px;
}
.blk{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0 100px;
    margin-top: 30px;
}
/* .container2{
    background-color: #eff2f7;
    display: flex;
    flex-direction: column;
    position: relative;
} */
.box2{
    background: #eff2f7;
    border-radius: 4px;
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    transition: all .8s ease-in-out 0s;
}
 .box2 img{
    height: auto;
    width: 100%;
}
.blog-content {
    padding: 30px 20px 25px;
}
.blog-subtitle {
    border-bottom: 1px solid #ececec;
    margin-bottom: 12px;
    padding-bottom: 13px;
}
.blog-subtitle a, .blog-subtitle span {
    color: #616161;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
}
.blog-title {
    font-size: 21px;
    margin: 10px 0 7px;
}
.blog-content p {
    text-decoration: none;
    opacity: .6;
}
.blog-btn {
    color: #616161;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
}
.box2:hover{
    background-color: #fff;
    box-shadow: 0 8px 24px hsla(210,8%,62%,.2);

}

/* footer */
.det{
    background-color:#eff2f7;
    padding: 80px 100px 100px 100px;
}
.cont{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;

}
.col-md-3{
    padding: 0 20px;
    width: 25%;
    flex: 0 0 auto; 
}
.global-text{
    margin: 2px;
    opacity: .5 ;
    font-size: 14px;
    word-spacing: 2px;
}
.footer-title{
    font-size: 20px!important;
    margin: 0 0 35px;
    font-weight: 500;
}
.col-md-2{
    padding: 0 40px;
}
.links ul{
    position: relative;
}
.list-unstyled{
    list-style: none;
    padding-left: 0;
}
.links ul li {
    color: #7a7a7a;
    font-size: 14px;
    margin-top: 6px;
}
.links ul li, .links ul li a {
    text-decoration: none;
    padding: 2px;
}
.links ul li a {
    color: #7a7a7a;
    font-size: 14px;
    margin-top: 6px;
    position: relative;
}

